openwhisk/hello/build/*
openwhisk/hello/target/*
openwhisk/hello/exec
openwhisk/hello/hello.balx
openwhisk/hello/Cargo.lock
openwhisk/hello/.gradle/*
.gradle/*
openwhisk/hello/hello.jar
sdk/pkg/*
sdk/src/hello/.vendor-new/*
sdk/src/hello/vendor